[submodule "nerdtree"]
	path = .vim/pack/dist/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = .vim/pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-fish"]
	path = .vim/pack/dist/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "tmux-onedark-theme"]
	path = .tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme.git
[submodule "nvim"]
	path = .config/nvim
	url = https://github.com/fabiojmendes/nvim
